body {
	font-family: Arial, sans-serif;
	height: 100%;
}
.navbar {
	background-color: black;
}

.card-img {
	width: 50%;
	height: 50%;
	margin: 10px;
}
.card {
	margin : 30px 15px 15px 0px;
	width: 330px;
	height: 425px;
	align-items: center;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: inline-block;
}
#unicorn {
	width: 50px;
	height: 50px;
	border-radius: 15px;
}
h1 {
	color: white;
}
h2 {
	margin-top: 40px;
	margin-bottom: 40px;
}
#form {
	margin: 30px;
	display: none;
}
form {
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: grey;
	padding: 10px;
}
#searchBarDisplay {
	display: none;
	background-color: yellow;
	padding: 75px;
}
.btn-primary {
	background-color: grey;
	border-color: grey;
	margin: 10px 10px 10px 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: block;
}
#deleteAnimal {
	width: 100px;
	margin: 10px;
	background-color: black;
	border-radius: 5px;
}
#seeMore {
	width: 100px;
	margin: 10px;
	background-color: black;
	border-radius: 5px;
}
#seeMoreInfo {
	background-color: lightgrey;
	border-style: solid;
	border-width: 2px;
	position: absolute;
	top: 30%;
	left: 35%;
	z-index: 15;
	height: 500px;
	width: 500px;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: none;

}
#moreName {
	margin-left: 10px;
}
#goBack {
	background-color: black;
	color: white;
	position: relative;
	bottom: 60%;
	left: 40%;
}

@media screen and (max-width: 975px) {
	#seeMoreInfo {
		left: 20%;
	}
}

@media screen and (max-width: 650px) {
	#seeMoreInfo {
		left: 2px;
	}
}